.header {
  display: flex;
  text-align: center;
  height: 100px;
  background-color: black;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.aboutpg-home-button {
  margin: 35px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.705);
  background-color: black;
  border-width: 0px;
  top: 50%;
}
.aboutpg-home-button:hover {
  color: white;
  transition: color 0.15s ease;
}
.aboutpg-about-button {
  margin: 35px;
  cursor: pointer;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  background-color: black;
  border-width: 0px;
  top: 50%;
}
.aboutpg-projects-button {
  margin: 35px;
  cursor: pointer;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.705);
  background-color: black;
  border-width: 0px;
  top: 50%;
}
.aboutpg-projects-button:hover {
  color: white;
  transition: color 0.15s ease;
}
.grid-container {
  display: grid;
  grid-template-columns: 600px 1fr 200px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}
.about-text {
  margin-top: -55px;
  grid-column: 2;
  color: white;
  font-size: 35px;
  font-family: Calibri;
  user-select: none;
  margin-bottom: 100px;
}
.paragraph-text {
  margin-top: 75px;
}
.about-header {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: -10px;
}
.university-text {
  margin-left: 100px;
  font-size: 30px;
  margin-top: 55px;
  color: white;
}
.degree-text {
  font-size: 30px;
  margin-left: 100px;
  color: white;
  margin-top: 20px;
}
.locodate-text {
  font-size: 20px;
  margin-left: 100px;
  color: rgba(128, 128, 128, 0.705);
  margin-top: 20px;
}
